<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Bienvenido!</title>
</head>
<body>

<div class="container">
    <h3>Bienvenido a mi clase!</h3>

    <div class="row">

        <div class="card">
            <div class="card-body">

                <h5 class="card-title">Alumnos</h5>

                <p class="card-text">
                    Desde aqui podremos realizar el mantenimiento de Alumnos
                </p>

                <a th:href="@{/students}" class="card-link">Alumnos</a>

            </div>
        </div>
    </div>

</div>


</body>
</html>
